<!DOCTYPE html>
<html ng-app="infinimgur">
<head>
  <title>infinimgur Imgur Roulette</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="RouletteCtrl">
  <div class="toolbar z-1">
    <div class="container">
      <h1><span class="thin">infin</span>i<span class="thin">mgur</span></h1>
      <span ng-cloak>
        {{successRate}}% success
      </span>
      <span style="float: right;">
        <a href="https://imgur.com/removalrequest">Report image</a>
      </span>
    </div>
    <div class="spinner" ng-show="busy"><i class="z-1"></i></div>
  </div>
  <div class="toolbar-spacer"></div>

  <section id="view" class="container">
    <div class="thumbnail z-1" id="{{::v.id}}" ng-click="toggleThumbnail($event.currentTarget)" ng-repeat="(i,v) in images" ng-cloak>
      <img class="z-1" src="{{::v.thumbnail}}"/>
    </div>
    <div class="clear-fix"></div>
  </section>

  <div id="scroll-spacer"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="./app.js"></script>
</body>
</html>
