.mdl-navigation__link-icon {
  font-size: 24px;
  margin-right: 32px;
}


/* Material icon helpers */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/* GitHub corner */

.github-corner > svg {
  z-index: 10;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}
@media (max-width:500px) {
  .github-corner {
    display: none;
  }
} 
@keyframes octocat-wave{
  0%,100% {
    transform:rotate(0);
  }

  20%, 60% {
    transform:rotate(-25deg);
  }
  
  40%, 80% {
    transform: rotate(10deg);
  }
}
